<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
</head>

<body class="dashboard-page">

    <div class="banner-container">
        <img src="/images/banner.jpg" alt="Site Banner" class="banner">
    </div>

    <div class="bread">
        <img src="/images/breadS.png" alt="Site Banner" class="banner">
    </div>
    <div class="dash-container">
        <button class="add">➕ Add New Recipe</button>
        <a href="/" class="out">Sign Out</a>

        
    </div>
            